.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-grid {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: calc(100vh - 80px); /* Adjust based on header height */
}

.dashboard-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.2rem;
  font-weight: 390;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }
  
  .dashboard-card {
    padding: 15px;
  }
}